build/**
project.sublime-workspace
game_hot_reload.exe
game_hot_reload.bin
game_hot_reload.bin.DSYM
raylib.dll
.zed

# Debug artifacts
debug_build
*.dSYM/
*.pdb

# OS / editor cruft
.DS_Store
*.log
log.txt
